.page-header {
  
}

body {
  font-family: Helvetica;
  background-color: azure;
}

.img-bio {
  border-radius: 50%;
  height: 350px;
  width: 280px;
  margin-left: 30%;
  border: 1px solid wheat;
  border-style: dashed;
  border-radius: 15px;
}

.page-content {
  width: 900px;
  margin: 0 auto;
  
}

.page-content p {
  font-size: 20px;
  border: 1px solid wheat;
  border-style: dashed;
  border-radius: 15px;
  padding: 15px;
}

table {
  border: 1px solid gray;
}

td {
  border: 1px solid gray;
}

th font {
  font-weight: bold;
}

th {
  width: 80px;
  background-color: gray;
  color: white;
}