body {
  background-color: lightcoral;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-container {
  width: 100%;
  margin: 0 auto;
}


.main-container img {
  margin: 0 auto;
  border-radius: 5px;
  display: block;
}

.header-container {
  margin: auto;
  width: 100%;
}

table {
  margin-top:20px;
  width: 100%;
  /* border: 1px solid black; */
}

table th {
  background-color: lightgray;
  font-size: 0.8em;
  border-radius: 2px;
}

table tr {
  border-bottom: 1px solid black !important;
}

table td {
  font-size: 0.7em;
  border-bottom: 1px solid black;
  border-bottom-style: dotted;
  /* border-radius: 5px; */
}

table img {
  width: 120px;
  height: 100px;
}