*{

  padding: 0%;
  margin: 0;
}
body{
  background-color: black;
  font-family:sans-serif;
}
.menu{
  background-color: #00aef0;
  height: 63px;
  padding: 1px 16px;
  font-size: 16px;
  display: flex;
}
.menu li{
  width: 100%;
  list-style: none;
  height: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #fff;
  color:#fff;

}



.menu li .desplegar {
  background: #323d5e;
  height: auto;
  position: absolute;
  margin: 25px auto;
  width: 50%;
  border-radius: 5px;
  padding-bottom: 60px;
  display: none;
 
}

.menu li:hover .desplegar{
  display: block;
}



.menu li ul li {
  border: none;
  text-align: left;
  padding: 8px;
}

.desplegar .desplegarSub{
  display: none;
  
}
.desplegar li:hover .desplegarSub{
  display: block;
  color: rgb(255, 174, 0);
}